blog-drafts/09-n8n-auto-report/threads-token-auto-refresh.json
{
  "name": "Threads Token 自動續期（單帳號通用版）by Q kangber",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "a1f1c2d3-0001-4a01-9b01-000000000001",
      "name": "每月1日排程",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-340, 0]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "Threads 設定表"
        },
        "sheetName": {
          "__rl": true,
          "value": "設定",
          "mode": "name",
          "cachedResultName": "設定"
        },
        "options": {}
      },
      "id": "a1f1c2d3-0002-4a01-9b01-000000000002",
      "name": "讀取 Token",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-120, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://graph.threads.net/refresh_access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "th_refresh_token"
            },
            {
              "name": "access_token",
              "value": "={{ $json.value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1f1c2d3-0003-4a01-9b01-000000000003",
      "name": "Refresh Threads Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [100, 0],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-token-001",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1f1c2d3-0004-4a01-9b01-000000000004",
      "name": "確認 Refresh 成功",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [320, 0]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "Threads 設定表"
        },
        "sheetName": {
          "__rl": true,
          "value": "設定",
          "mode": "name",
          "cachedResultName": "設定"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $('讀取 Token').item.json.key }}",
            "value": "={{ $json.access_token }}"
          },
          "matchingColumns": ["key"],
          "schema": [
            {
              "id": "key",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "key",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "value",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "value",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1f1c2d3-0005-4a01-9b01-000000000005",
      "name": "寫回新 Token",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [540, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"YOUR_LINE_USER_ID\",\n  \"messages\": [{\n    \"type\": \"text\",\n    \"text\": \"🔄 Threads Token 已自動續期\\n{{ $now.toFormat('yyyy/MM/dd HH:mm') }}\"\n  }]\n}",
        "options": {}
      },
      "id": "a1f1c2d3-0006-4a01-9b01-000000000006",
      "name": "LINE 通知（選配）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [760, 0],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "每月1日排程": {
      "main": [[{ "node": "讀取 Token", "type": "main", "index": 0 }]]
    },
    "讀取 Token": {
      "main": [[{ "node": "Refresh Threads Token", "type": "main", "index": 0 }]]
    },
    "Refresh Threads Token": {
      "main": [[{ "node": "確認 Refresh 成功", "type": "main", "index": 0 }]]
    },
    "確認 Refresh 成功": {
      "main": [[{ "node": "寫回新 Token", "type": "main", "index": 0 }]]
    },
    "寫回新 Token": {
      "main": [[{ "node": "LINE 通知（選配）", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "每月 1 日自動 refresh Threads long-lived access token，避免約 60 天到期後社群報表突然抓不到資料。token 存在 Google Sheet「設定」分頁（欄位 key / value，key=threads_access_token），refresh 後寫回同一格。使用前請：①填入自己的 Google Sheet ID ②設定 Google Sheets 與 HTTP 憑證 ③（選配）填入 LINE token 與 user id。免費分享 by Q kangber｜aiqkangber.com"
  }
}
